NODE_ENV=development
PORT=3000
MONGODB_URI=mongodb+srv://user:password@cluster.mongodb.net/your_db?retryWrites=true&w=majority or replace your locally
JWT_SECRET=your-super-secret-jwt-key-change-in-production
JWT_EXPIRES_IN=7d
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret
